body{
	width: 70%;
	max-width: 650px;
	min-height: 320px;
	margin: auto;
	background-color:white;
	color: black;
	font-size: 80%;
	font-weight: 300;
	line-height: 1.6em;
    font-family: 'Libre Baskerville';
	}

 hr{
	border: 1.5px solid;
	color: crimson;
	}

.version1 h1,h2,h3 {
		letter-spacing: 0em;
		color: black;
		text-align: left;
		line-height: 0em;
		font-weight: 300;
		}

.version1 h1 {
	font-size: 6em;
	font-family: 'Libre Baskerville', 'serif';
	}

.version1 h3 {
	font-size: 1em;
	margin-top: 4em;
	text-transform: uppercase;
	font-family: 'Libre Baskerville', 'serif';
	}

.version1 h2 {
	font-family: 'Libre Baskerville', 'serif';
	font-size: 1.9em;
	padding-top: .5em;
    font-style: italic
	}

.version1 .intro {
		font-size: 100%;
		font-size: 1.1em;
        line-height: 1.7em;
        padding: 2em 0 2em 0;
		font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman';
		}

.version1 .firstletter { 
			float: left; 
			font-size: 6.5em;
			padding-top: 0em;
			padding-bottom: 5px;
			font-weight: 300;
			}

.version1 blockquote{
			color:#888888;
			padding: .5em 0;
			font-size: 1.25em;
			line-height: 1.5em;
			margin: 0;
			font-style: italic;
			font-family: 'Libre Baskerville', 'serif';
			font-weight: 300;
			text-indent: -.4em;
			}

.version1 blockquote cite {
				font-size: .75em;
				}

.version1 p{
			font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman';
			}

.version1 p+p{
			font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman';
			}

.version1 p+p+p{
			font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman';
			}