<link href="css/style-baskerville.css" type="text/css" rel="stylesheet" /> 

body {
        width: 75%;
        max-width: 650px;
        min-width: 320px;
        font-size: 100%;
    font-family: 'baskerville', serif;
        margin: auto;
        background-color: #f0f0f0;
        color: #333;
        line-height: 1.6em;
        }

section {padding: -.5em 0 1em 0;}

/* VERSION 1 */



/* VERSION 2 */

/* VERSION 3 */
